[submodule ".registry"]
	path = .registry
	url = https://github.com/paithiov909/paithiov909.r-universe.dev
	branch = HEAD
[submodule "RMeCab"]
	path = RMeCab
	url = https://github.com/paithiov909/rmecab-doc
	branch = dev
[submodule "affiner"]
	path = affiner
	url = https://github.com/trevorld/affiner
	registered = false
[submodule "apportita"]
	path = apportita
	url = https://github.com/paithiov909/apportita
[submodule "audubon"]
	path = audubon
	url = https://github.com/paithiov909/audubon
[submodule "aznyan"]
	path = aznyan
	url = https://github.com/paithiov909/aznyan
[submodule "baritsu"]
	path = baritsu
	url = https://github.com/paithiov909/baritsu
[submodule "convlog"]
	path = convlog
	url = https://github.com/paithiov909/convlog
[submodule "cssparser"]
	path = cssparser
	url = https://github.com/coolbutuseless/cssparser
	registered = false
[submodule "dee"]
	path = dee
	url = https://github.com/trevorld/dee
[submodule "gggrid"]
	path = gggrid
	url = https://github.com/pmur002/gggrid
	registered = false
[submodule "gibasa"]
	path = gibasa
	url = https://github.com/paithiov909/gibasa
[submodule "gsdmm"]
	path = gsdmm
	url = https://github.com/paithiov909/gsdmm
[submodule "jisx0402"]
	path = jisx0402
	url = https://github.com/paithiov909/jisx0402
[submodule "jprailway"]
	path = jprailway
	url = https://github.com/paithiov909/jprailway
[submodule "kelpbeds"]
	path = kelpbeds
	url = https://github.com/paithiov909/kelpbeds
[submodule "ldccr"]
	path = ldccr
	url = https://github.com/paithiov909/ldccr
[submodule "minisvg"]
	path = minisvg
	url = https://github.com/coolbutuseless/minisvg
	registered = false
[submodule "nara"]
	path = nara
	url = https://github.com/coolbutuseless/nara
	registered = false
[submodule "nativeshadr"]
	path = nativeshadr
	url = https://github.com/paithiov909/nativeshadr
[submodule "pipian"]
	path = pipian
	url = https://github.com/paithiov909/pipian
[submodule "rasengan"]
	path = rasengan
	url = https://github.com/paithiov909/rasengan
[submodule "shikakusphere"]
	path = shikakusphere
	url = https://github.com/paithiov909/shikakusphere
[submodule "skiagd"]
	path = skiagd
	url = https://github.com/paithiov909/skiagd
[submodule "sudachir2"]
	path = sudachir2
	url = https://github.com/paithiov909/sudachir2
[submodule "svgparser"]
	path = svgparser
	url = https://github.com/coolbutuseless/svgparser
	registered = false
[submodule "vibrrt"]
	path = vibrrt
	url = https://github.com/paithiov909/vibrrt
